@model CSNY_timelog.ViewModel.AddStudentViewModel
@using Telerik.Web;
@using Telerik.Web.Mvc;
@using Telerik.Web.Mvc.UI;
@using GridMvc.Html;

@{
    ViewBag.Title = "Registration Success";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<link href="@Url.Content("~/Content/themes/base/jquery.ui.core.css")" 
        rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/base/jquery.ui.datepicker.css")" 
        rel="stylesheet"  type="text/css" />
<link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
   
    <script src="@Url.Content("~/Scripts/gridmvc.min.js")"></script>

    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />


 <div class="main_content">
          <div class="page_heading">
<p>DOE Record</p>
</div>
     <br /><br />
     <span style="text-align:center;">
     File have successfully uploaded!
<br />
         </span>

     <span>

            <div style="clear :both;"></div>

       @Html.Grid(Model.MandateErrorList).Columns(columns =>
  {
      //columns.Add(c => c.Child).Titled("Student ID").RenderValueAs(c => @<span class = "@((!String.IsNullOrEmpty(c.Child)) ? "ColorRed" : "Normal")">@c.Child</span>);
      columns.Add(c => c.SID).SetWidth(25).Titled("Student ID")
           .Sanitized(false)
          .Encoded(false)
          .RenderValueAs(o => Html.ActionLink(o.SID, "AddStudent", "Admin", new { Id = o.SID }, null).ToHtmlString());

      columns.Add(c => c.NPI).Titled("First Name").SetWidth(250);
      columns.Add(c => c.StartDate).Titled("Last Name").SetWidth(50);
      columns.Add(c => c.EndDate).Titled("OSIS").SetWidth(30);
      columns.Add(c => c.FundingCode).Titled("Funding Code").SetWidth(30);
      
  }).WithPaging(100).Sortable(true)
         
     </span>

<br />
     To Log in,
<a href="@Url.Content("~/account/log_on")" title= "Logon">
      please click here.</a> 
     </div>